# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Application/Runtime/Logs/Admin/16_08_20.log
Application/Runtime/Logs/Home/16_08_20.log
Application/Runtime/Logs/Home/16_09_09.log
Application/Runtime/Cache/Admin/3a437f75b5b60a521a3ad0fc93a5ab5f.php
Application/Runtime/Cache/Admin/ccc9ced3ad798311a07cb47b740981c5.php
Application/Runtime/Cache/Admin/3a437f75b5b60a521a3ad0fc93a5ab5f.php
Application/Runtime/Cache/Admin/b595b808c2ebeeeb0478ffc30bb4e87a.php
