<include file="Index/header"/>
    <section>
        <div class="container" style="..." align="center">
            <h1 style="color:red">{$message}</h1>
            <h3 id="location">系统将在<span style="color:red">3</span>秒后自动跳转到首页</h3>
        </div>
    </section>
</body>
<script src="Public/js/jquery.js"></script>
<script>
    var time = 3;
    //首页
    var url = "index.php?m=Home&c=Index&a=index";
    setInterval("refer()", 1000);
    function refer() {
        if (0 == time){
            window.location.href = url;
        }else {
            $("#location span").html(time);
            --time;
        }
    }
</script>
</html>