<!--网站头部部分-->
<include file="index/header"/>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9">
        <div class="banner">
          <div class="banner-left">
            <a target="_blank" href="index.php?c=Detail&id={$result['topPicNews'][0].news_id}"><img src="{$result['topPicNews'][0].thumb}" alt=""></a>
          </div>
          <div class="banner-right">
            <ul>
              <foreach name="result['topSmallNews']" item="topSmallNew">
              <li>
                <a target="_blank" href="index.php?c=Detail&id={$topSmallNew.news_id}"><img src="{$topSmallNew.thumb}" alt=""></a>
              </li>
              </foreach>
            </ul>
          </div>
        </div>
        <div class="news-list">
          <foreach name="result['newsList']" item="newList">
          <dl>
            <dt><a target="_blank" href="index.php?c=Detail&id={$newList.news_id}">{$newList.title}</a></dt>
            <dd class="news-img">
              <a target="_blank" href="index.php?c=Detail&id={$newList.news_id}"><img width=200 height=120 src="{$newList.thumb}" alt=""></a>
            </dd>
            <dd class="news-intro">
              {$newList.description}
            </dd>
            <dd class="news-info">
              作者：{$newList.username} <span>{$newList.create_time|date="Y-m-d H:i:s",###}</span> 阅读({$newList.count})
            </dd>
          </dl>
          </foreach>
        </div>
      </div>
      <!--网站右侧部分-->
      <include file="index/right"/>
    </div>
  </div>
</section>
</body>
</html>