<div class="col-sm-3 col-md-3">
    <div class="right-title">
        <h3>文章排行</h3>
        <span>TOP ARTICLES</span>
    </div>
    <div class="right-content">
        <volist name="result['newsList']" id="newList">
        <ul>
            <li class="num{$key+1} curr">
                <a target="_blank" href="index.php?c=Detail&id={$newList.news_id}">{$newList.title}</a>
                <if condition="$key eq 0">
                    <div class="intro">
                        {$newList.description}
                    </div>
                </if>
            </li>
        </ul>
        </volist>
    </div>
    <volist name="result['rightAdvs']" id="rightAdv">
        <div class="right-hot">
            <a target="_blank" href="{$rightAdv.url}"><img src="{$rightAdv.thumb}" alt="{$rightAdv.title}"></a>
        </div>
    </volist>
</div>