<include file="Index/header" />
<body>
<div id="wrapper">

    <include file="Index/nav"/>
<div id="page-wrapper">

    <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="admin.php?c=PositionContent">推荐位内容管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table">推荐位内容列表</i>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div >
            <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>
            <button  id="button-listorder" type="button" class="btn btn-primary dropdown-toggle" ><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>更新排序</button>
        </div>

        <br/>
        <div class="row">
            <form action="admin.php" method="get">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">推荐位</span>
                        <select class="form-control" name="position_id">
                            <option value="">全部推荐位</option>
                            <volist name="positions" id="position">
                                <option value="{$position.id}" <if condition="$position.id eq $positionId">selected="selected"</if>>{$position.name}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="c" value="PositionContent"/>
                <input type="hidden" name="a" value="index"/>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="title" type="text" value="{$title}" placeholder="文章标题" />
                <span class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </span>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3></h3>
                <div class="table-responsive">
                    <form id="singcms-listorder">
                    <table class="table table-bordered table-hover singcms-table">
                        <thead>
                        <tr>
                            <th width="14">排序</th><!--7-->
                            <th>id</th>
                            <th>标题</th>
                            <th>时间</th>
                            <th>封面图</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="posContents" item="posContent">
                            <tr>
                                <td><input size=1 type="text"  name="listorder['{$posContent.id}']" value="{$posContent.listorder}"/></td>
                                <td>{$posContent.id}</td>
                                <td>{$posContent.title}</td>
                                <td>{$posContent.create_time|date="Y-m-d H:i",###}</td>
                                <td>{$posContent.thumb|isThumb}</td>
                                <td>
                                    <span  attr-status="<if condition='$posContent.status eq 1'>0<else/>1</if>"  attr-id="{$posContent.id}" class="sing_cursor singcms-on-off" id="singcms-on-off" >{$posContent.status|getMenuStatus}</span>
                                </td>
                                <td>
                                    <span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$posContent.id}" ></span>
                                    <a href="javascript:void(0)" id="singcms-delete"  attr-id="{$posContent.id}"  attr-message="删除">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->
        {$poss}

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
    var SCOPE = {
        'edit_url' : 'admin.php?c=PositionContent&a=edit',
        'set_status_url' : 'admin.php?c=PositionContent&a=setStatus',
        'add_url' : 'admin.php?c=PositionContent&a=add',
        'delete_url' : 'admin.php?c=PositionContent&a=delete',
        'jump_url' : 'admin.php?c=PositionContent',
        'listorder_url' : 'admin.php?c=PositionContent&a=listorder',
    }

</script>
<include file="Index/footer" />